<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/custom-bootstrap.5.3.0.css">
    <title>Vista de Autos</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="shadow p-2 rounded-3">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Version</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let i= 0; i< coches.length; i++) {  %>
                                <tr>
                                  <th scope="row"><%= i     %></th>
                                  <td><%= coches[i].make    %></td>
                                  <td><%= coches[i].model   %></td>
                                  <td><%= coches[i].version %></td>
                                  <td><%= coches[i].price   %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/bootstrap.bundle.js"></script>
</body>
</html>